.site-main {
  @include make-md-column(9);
  @include clearfix();
  float: left;

  @media #{$view-xxs}, #{$view-xs}, #{$view-sm} {
    width: 100%;
  }

  @media #{$view-md}, #{$view-lg} {
    margin-left: 25%;
    padding-top: 50px;
  }

  .entry-footer {
    text-align: center;
  }
}

.content-main {
  font-size: 12px;
  max-width: 768px;

  @media #{$view-md}, #{$view-lg} {
    margin-top: 40px;
  }

  table {
    border: 0;

    td {
      padding: 10px 0;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .entry-content {
    > * {
      &:first-child {
        animation-delay: 0s;
        margin-top: 0;
      }

      animation-delay: .1s;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: slide-in-up;
    }
  }
}
