.gallery-list {
  margin-left: -1em;
  margin-right: -1em;

  .gallery-list__item {
    color: $body-color;
    display: block;
    float: left;
    margin-bottom: 2em;
    outline: none;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media #{$view-sm} {
      width: 50%;
    }

    @media #{$view-desktop} {
      width: 33.33333333%;
    }

    &:hover {
      .gallery-list__thumb {
        @media #{$view-desktop} {
          opacity: 1;
        }
      }
    }
  }

  .gallery-list__thumb {
    height: auto;
    margin-bottom: .5em;
    width: 100%;

    @media #{$view-desktop} {
      opacity: .8;
      transition: opacity .4s ease;
    }

    > img {
      height: inherit;
      width: inherit;
    }
  }

  .gallery-list__title {
    font-size: $font-size-small;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .gallery-list__info {
    font-size: $font-size-x-small;
    margin-bottom: 0;
  }
}
