.gallery {
  position: relative;
}

.thumbnail-container {
  display: none;
  margin-left: auto;
  margin-right: auto;

  @media #{$view-phone}, #{$view-tablet} {
    display: block !important; // sass-lint:disable-line no-important
  }

  .thumbs {
    list-style: none;
    margin: 0 -.75em;
    padding: 0;
  }

  .thumbs__item {
    float: left;
    list-style: none;
    margin-bottom: 1.5em;
    padding-left: .75em;
    padding-right: .75em;
    width: 100%;

    @media #{$view-tablet} {
      width: 50%;
    }

    @media #{$view-md} {
      width: 33.33333%;
    }

    @media #{$view-lg} {
      width: 25%;
    }

    &.thumbs__item--landscape {
      .thumbs__img {
        width: 100%;
      }
    }

    &.thumbs__item--portrait {
      .thumbs__img {
        @media #{$view-xxs} {
          padding-bottom: 125%;
        }

        @media #{$view-tablet}, #{$view-desktop} {
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
      }
    }
  }

  .thumbs__link {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .thumbs__img {
    background-color: rgba(0, 0, 0, .1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    min-height: 100%;
    padding-bottom: 80%;
    position: relative;
    width: 100%;
  }

  .thumbs-caption {
    color: $gray-light;
    font-size: $font-size-small;
    margin-top: .25em;
    text-align: left;
    width: 100%;

    @media #{$view-desktop} {
      display: none;
    }
  }
}

.slideshow-container {
  @include clearfix();
  clear: both;
  display: none;
  height: calc(100vh - 9.25em);
  position: relative;
  width: 100%;

  @media #{$view-phone}, #{$view-tablet} {
    display: none !important; // sass-lint:disable-line no-important
  }

  .slides {
    display: table;
    height: inherit;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  // .slides__item {
  .image-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: auto;

    @media #{$view-desktop} {
      height: inherit;
      letter-spacing: -1px;
      width: inherit;
    }
  }

  // .slides__link {
  .advance-link {
    outline: 0;

    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.info {
  font-size: $font-size-small;
  padding-bottom: 3em;
  padding-top: 1em;
  text-align: center;
}

.view {
  color: $gray-base;
  font-size: $font-size-small;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.caption {
  color: $gray-light;
  line-height: 1.5;
}

.controls {
  a {
    align-items: center;
    border-radius: .15em;
    display: flex;
    font-family: $font-family-monospace;
    font-size: $font-size-x-large;
    height: 1.5em;
    justify-content: center;
    text-decoration: none;
    width: 1.5em;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    @media #{$view-desktop} {
      &:hover {
        background-color: $gray-lighter;
      }
    }

    &.prev {
      color: $gray-base;
      float: left;
      margin-left: 10%;

      @media #{$view-sm}, #{$view-desktop} {
        margin-left: 25%;
      }
    }

    &.next {
      color: $gray-base;
      float: right;
      margin-right: 10%;

      @media #{$view-sm}, #{$view-desktop} {
        margin-right: 25%;
      }
    }
  }
}
