.header {
  @include clearfix();
  margin-bottom: 2em;
  margin-top: 3em;
  width: 100%;
  z-index: $zindex-header;

  @media #{$view-phone}, #{$view-tablet} {
    position: relative;
  }

  @media #{$view-desktop} {
    position: fixed;
  }

  .header__brand {
    color: $gray-base;
    font-family: 'Raleway', 'AvenirLTStd-Book', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: $font-size-h3;
    font-weight: 600;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: .25s ease-in-out;
    width: 6em;

    .sidebar-active & {
      color: $white;

      > svg {
        fill: $white;
      }
    }

    > svg {
      height: inherit;
      width: inherit;
    }
  }

  .header__trigger {
    background: none;
    border: 0;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    float: right;
    height: 1.5em;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 2.25em;

    @media #{$view-desktop} {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      border: 0;
      box-shadow: none;
    }

    > .header__trigger__line {
      background-color: $gray-dark;
      display: block;
      height: .125em;
      opacity: 1;
      position: absolute;
      right: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 100%;

      &--1 {
        top: 0;
      }

      &--2 {
        top: .6em;
      }

      &--3 {
        top: 1.2em;
      }

      .sidebar-active & {
        background-color: $white;

        &--1 {
          top: .5em;
          transform: rotate(135deg);
        }

        &--2 {
          opacity: 0;
          right: -2.25em;
        }

        &--3 {
          top: .5em;
          transform: rotate(-135deg);
        }
      }
    }
  }
}
