.header {
  @include clearfix();
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  width: 100%;
  z-index: $zindex-header;

  @media #{$view-phone}, #{$view-tablet} {
    position: relative;
  }

  @media #{$view-tablet}, #{$view-desktop} {
    margin-top: 3em;
  }

  @media #{$view-desktop} {
    position: fixed;
  }

  .header__brand {
    display: block;
    float: left;
    height: 2.5em;
    outline: 0;
    transition: .25s ease-in-out;
    width: 10em;

    .sidebar-active & {
      color: $white;

      > svg {
        fill: $white;

        @media #{$view-desktop} {
          fill: $gray-base;
        }
      }
    }

    > svg {
      height: inherit;
      width: inherit;
    }
  }

  .header__trigger {
    background: none;
    border: 0;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 1.7em;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 2em;

    @media #{$view-desktop} {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      border: 0;
      box-shadow: none;
    }

    > .header__trigger__line {
      background-color: $gray-dark;
      display: block;
      height: .125em;
      left: 0;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 100%;

      &--1 {
        top: .1em;
      }

      &--2 {
        top: .8em;
      }

      &--3 {
        top: 1.5em;
      }

      .sidebar-active & {
        background-color: $white;

        &--1 {
          top: .8em;
          transform: rotate(135deg);
        }

        &--2 {
          left: -2.25em;
          opacity: 0;
        }

        &--3 {
          top: .8em;
          transform: rotate(-135deg);
        }
      }
    }
  }
}
