.navigation {
  &.navigation--social {
    bottom: 5em;
    position: absolute;
  }

  > * {
    @media #{$view-xs} and (orientation: landscape) {
      float: left;
      width: 50%;
    }
  }

  .navigation__title {
    cursor: default;
    font-size: $font-size-small;
    font-weight: 600;
    margin: 0 0 .75em;
    text-decoration: none;

    @media #{$view-phone}, #{$view-tablet} {
      color: $white;
    }
  }
}

.menu {
  margin-bottom: 1.5em;
  padding-left: 0;

  .menu__item {
    list-style: none;
  }

  .menu__item--active {
    .menu__link {
      &:after {
        color: $gray-base;
        content: '\2022';
        margin-left: .75em;

        @media #{$view-phone}, #{$view-tablet} {
          color: $white;
        }
      }
    }
  }

  .menu__link {
    color: $gray;
    font-size: $font-size-small;
    line-height: 180%;
    outline: 0;
    text-decoration: none;

    @media #{$view-phone}, #{$view-tablet} {
      color: $white;
    }

    .menu-ancillary-container & {
      font-size: $font-size-small;
      font-weight: 600;
    }
  }
}
