.page {
  &.page--home,
  &.page--gallery {
    @media #{$view-desktop} {
      padding-top: 3em;
    }
  }

  &.page--content {
    max-width: 50em;

    @media #{$view-desktop} {
      padding-top: 7em;
    }

    > * {
      &:first-child {
        animation-delay: 0s;
        margin-top: 0;
      }

      animation-delay: .1s;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: slide-in-up;
    }
  }
}
