.sidebar {
  @media #{$view-xxs}, #{$view-xs}, #{$view-sm} {
    background-color: $black;
    height: 100%;
    left: -100%;
    padding: 3em;
    position: fixed;
    top: 0;
    transition: left ease-out .2s;
    width: 100%;
  }

  &.sidebar--open {
    left: 0;
  }
}
