.sidebar {
  height: 100%;
  padding-bottom: 3em;
  padding-top: 7em;
  position: fixed;
  top: 0;

  @media #{$view-phone}, #{$view-tablet} {
    background-color: $black;
    left: -100%;
    padding-left: 3em;
    padding-right: 3em;
    transition: left ease-out .2s;
    width: 100%;
    z-index: $zindex-sidebar;
  }

  @media #{$view-desktop} {
    width: 25%;
  }

  .sidebar-active & {
    left: 0;

    @media #{$view-desktop} {
      left: auto;
    }
  }
}
