.slideshow-container {
  @include clearfix();
  clear: both;
  display: none;
  height: calc(100vh - 9.25em);
  max-width: 100%;
  position: relative;

  @media #{$view-phone}, #{$view-tablet} {
    display: none !important; // sass-lint:disable-line no-important
  }

  .slides {
    height: inherit;
    margin: 0 auto;
    text-align: center;
  }

  .image-wrapper {
    width: auto;

    @media #{$view-desktop} {
      display: block;
      height: 100%;
    }
  }

  .advance-link {
    height: 100%;
    outline: 0;
    width: 100%;

    &:hover,
    &:active,
    &:visited {
      text-decoration: none;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}
