.thumbnail-container {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.thumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thumb-item {
  list-style: none;

  .thumb {
    display: block;
    height: auto;
    margin: 0;
    opacity: .8;
    padding: 0;
    transition: all .4s ease;

    @media #{$view-phone}, #{$view-tablet} {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    p {
      opacity: 1;
    }
  }

  .thumb-caption {
    color: $gray-light;
    display: block;
    font-size: 12px;

    margin: 2px 0;
    text-align: left;
    width: 100%;

    @media #{$view-desktop} {
      display: none;
    }
  }

  img {
    display: block;
    min-width: 100%;

    @media #{$view-phone}, #{$view-tablet} {
      width: 100%;
    }
  }
}
