* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: $body-bg;
  color: $body-color;
  display: block;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: $font-size-base;
  padding-left: 3em;
  padding-right: 3em;
}
